.container{
    width: 700px;
    display: grid;
    gap: 10px;

    grid-template-rows: repeat(4, 100px);
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    /* grid-template-columns: repeat(2, 200px); */

    /* align-items: end;
    justify-content: end; */


    /* grid-template-columns: 100px 200px;
    grid-template-rows: 100px 200px; */

    /* grid-template: 100px 200px/ 100px 200px; */
    
    /* grid-template-rows: 100px 200px;
    grid-template-columns: 200px minmax(200px, 500px); */

    /* grid-auto-rows: 100px; */

}

.item{
    background-color: black;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 500px){
    .container{
        grid-template-columns: 1fr;
    }
}

/*
.item:nth-of-type(4){
    align-self: center;
    justify-self: center;

    background-color: brown;
    grid-column-start: 1;
    grid-column-end: 4;

    grid-column: 2/4;

    grid-column: 1/span 3;

}

.item:nth-of-type(1){
    background-color: blue;
    grid-row: 1/span 2;
}


.item:nth-of-type(3){
    grid-column: 3/5;
}

*/